<h2>Legal Policies</h2>
<ul>
  <li *ngFor="let policy of legalPolicies">
    <!-- Display policy type -->
    <h3>{{ policy.fields.type }}</h3>
    <!-- Conditionally render legal content based on policy type -->
    <div *ngIf="policy.fields.type === 'Privacy policy'" [innerHTML]="convertRichTextToHtml(policy.fields.legalContent)"></div>
    <div *ngIf="policy.fields.type === 'Terms'" [innerHTML]="convertRichTextToHtml(policy.fields.legalContent)"></div>
    <div *ngIf="policy.fields.type === 'Disclaimers'" [innerHTML]="convertRichTextToHtml(policy.fields.legalContent)"></div>
  </li>
</ul>
