<div class="full-widthContainer background-black">
<div class="defualt-section-Container">
  <span class="footer-Container">
    <span class="footer-Section">

              <!-- First column -->
        <span class="column">

            <span class="item-row">
                <span class="image-column">
                    <img src="assets/branding/arrow.png" alt="">
                </span>
            </span>
            
<span class="website-column">

    <p class="R16-semi_bold white">
You are currently on our:
    </p>
    <app-selection-dropdown></app-selection-dropdown>
<a href="https://play.google.com/store/apps/details?id=com.astute.prod_mode">
  <img src="../../../../assets/branding/googlePlay.png" alt="" class="play-button">

</a>
</span>

          </span>

          <!-- Second column -->

          <span class="column">
       <span class="website-column links-column">
        <p class="links-header">
          Legals
        </p>
       <a routerLink="/legals" class="footer-Links">
        Terms of use
       </a>
       <a routerLink="/legals" class="footer-Links">
     Privacy policy
       </a>
       <a routerLink="/legals" class="footer-Links">
       Disclaimers
       </a>
       </span>
            </span>
    </span>

    <span class="centred-div R12-semi_bold">
      Copyright © 2016 - 2024 Kukura Capital Ltd. All rights reserved.
    </span>
   
  </span>

</div>

</div>
