@use '../../../styles/general/index.scss' as *;


.background-black{
    display: flex;
    
    background-color: $black;
}

.footer-Container{
    width: 100%;
    display: flex;
  
    justify-content: center;
    align-items: center;
    //margin-top: 40px;
    flex-direction: column;
    margin-bottom: 0px;
}

.footer-Section{
    width: 1600px;
    display: flex;
    justify-content: center;
}

.column{
    display: flex;
   // background-color: red;
    width: calc(50%);
    justify-content: start;
    margin-left: 0px;
    color: white;
}


.centred-div{
    margin-bottom: 24px;
    margin-top: 24px;
    display: flex;
    width: 100%;
    background-color: $black;
    justify-content: center;
    color: white;
}
//the first column css and layout 
.image-column{
    height: 108px;
    width: 40px;
    display: flex;
    margin-top: 24px;
}

.play-button{
    display: flex;
    margin-top: 32px;
    width: 130px;
    height: 40px;
    margin-bottom: 32px;
}

.links-header{
    @include M24-bold;
    color: white;
    text-decoration: underline;
}

a{
    text-decoration: none;
}

.footer-Links{
    @include R18-semi_bold;
    display: flex;
    color: white;
    margin-top: 16px;
}

.footer-Links:hover{
font-size: 20px;
}

.links-column{
    display: flex;
    flex-direction:column ;
}

@media screen and (max-width: $tablet ) {
 .footer-Section{
    width: calc(100% - 64px);
    flex-direction: column;
  //  background-color: yellow;
    
 }

}

@media screen and (min-width: $tablet )  and (max-width: $laptop){
    .footer-Section{
        width:  calc(100% - (64px + 64px));
        //background-color: yellow;
     }

     .column{
    //margin-left: 16px;
     }


 .column{
    margin-left: 0px;
   // background-color: red;
    margin-right: 64px; //amended
      width: 400px;
   }
  
   .background-black{
      display: flex;
      
   //   background-color: blue;
      align-items: center;
      justify-content: center;
  }
}

@media screen and (min-width: $laptop )  and (max-width: $large-desktop){
    .footer-Section{
        width:  calc(100% - 32px);
       // background-color: yellow;
     }

     .column{
    margin-left: 0px;
     }
}
