<div class="full-widthContainer">
    <div class="default-section-Container">
       <span class="desktop-menu">
<span class="linksContainer">
    <span class="logo">
    <img 
    
    src="assets/branding/logo_astute.png" alt="astute logo">
<span class="M48-bold logo-text">
    astute
</span>
  

    </span>
    <span class="links-Container">
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"  class="link">Home</a>
    
    </span>
</span>

       </span>

       <span class="mobile-menu">

       
  <span class="logo">
            <img 
            
            src="assets/branding/logo_astute.png" alt="astute logo">
        <span class="M48-bold logo-text">
            Astute
        </span>
          
        
            </span>

            <button 
            (click)="showMenu()"
            class="button-close-Button"
            *ngIf = close
            >
                <img 
                class="close-icon"
               
                src="assets/branding/menu.png" alt="open menu">
            </button>

            <button 
            (click)="showMenu()"
            class="button-close-Button"
            *ngIf = !close
            >
                <img 
                class="close-icon"
                src="assets/branding/close.png" alt="close menu">
                
            </button>
      
     
      
        


       </span>

       <span 
       *ngIf=!close
       class="mobile-menu-links"
       >
    
    <span class="mobile-link-block">
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"  class="link">Home</a>

    </span>

 



    </span>
    </div>
</div>

  


