@use '../../styles/general/index.scss' as * ;

.full-widthContainer{
    display: flex;
    flex-direction: column;
    width:100%;// was 110vw
    //background-color: orange;
}

.hero-Heading{
@include M80-heading;
color: $primaryBlue;
display: flex;
margin-top: 98px;
margin-bottom: 0px;
//width: cal(100vw- 32px);
//background-color: black;
}

.padding-40{
    display: flex;
    //margin-top: 0px;
}

.hero-contentHeight{
    display: flex;
    height: 672px;
    flex-direction: column;
   // justify-content: space-between;
}

.button-Container{
    display: flex;
    height: 88px;
    width: 168px;
    flex-direction: column;
    margin-bottom: 32px;
}

.image-Container{ 
    display: flex;
width: 100%;
justify-content: center;
margin-top: 32px;
height: 672px;
align-items: end;
}

.img{
    width: 643px;
    height: 496px;
    display: flex;
}

.mobile-Column{
 //   background-color: purple;
   display: flex;
    justify-content: center;
    height: 496px;
}

.column-Alignment{
    display: flex;
    justify-content: end;
}

.homeImage{
   width: 643px; 
   height: 496px;
   display: flex;
   overflow: hidden;
 ////  background-color: black;
}

.homeImage img {
    width: 100%;
    height: 100%;
 
    object-fit: contain; /* Ensures the whole image fits within the container without distortion */
}

.third-column-section{
    height: 928px;
   // width: 100%;
    display: flex;
    background-color: $primaryBlue;
}

.primaryBlue-bkg{

    display: flex;
    background-color: $primaryBlue;
    height: 100%;
   // align-items: center;
  
}

.primaryNeutral-bkg{

    display: flex;
    background-color: $neutral;
    height: 100%;
   // align-items: center;
  
}


.primaryWhite-bkg{

    display: flex;
    background-color: $white;
    height: 100%;
   // align-items: center;
  
}
//for the how we do it section 

.column-layout{
   // width: 100%;
    display: flex;
   // background-color: yellow;
    justify-content: space-between;
}

.third-column{
    width: 420px;
    height: calc(630px + 40px + 32px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.subheading{
    @include custom-font($mons,40px, bold, 48px);
    color: $white; 
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 72px;
    text-align: center
}

.card-heading{
    @include custom-font($mons,24px, bold, 24px);
    color: $white;
    display: flex;
    color:$white;
    margin-bottom:16px ;
    text-align: center;
}

.card-description{
    @include custom-font($rob,18px, 500, 24px);
    color: $white;
    text-align: center;

}

.card-Image {
    width: 360px;
    height:630px;
    display: flex; 
    flex-direction: column;
   // background-color: green;
    margin-top: 40px;
    overflow: hidden;
 }
 
 .img-card {
    width: 100%;
   // height:100%;
  display: flex;
     object-fit: contain;
 }
 
.long-Column{
//increase the height for other breakpoints
height: 928px;
}

.centre-Alignment{
    display: flex;
    justify-content: center;
}

.main-Alignment{
    width: 100%;
    display: flex;
    justify-content: center;
}

.column-Main-Image{
    height: 808px;
    display: flex;
   // background-color: orange;
    width: 578px;
    margin-top: 0px;
}

.main-Column-Text{
    width: 534px;
    height: 508px;
    display: flex;
    flex-direction: column;
}

.main-description{
    display: flex;
    @include custom-font($rob,24px, 400px, 32px);
    margin-bottom: 24px;
}

.last-section{
    height: 928px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.accordin-Heading{
    height: 80px;
    width: 644px;
    display: flex;
    background-color: $white;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: space-between;
    align-items: center;
}

.divider{
    width:calc(644px + 24px + 24px);
    height: 3px;
    display: flex;
    background-color: $primaryOrange;
}

.accrodin-des{
    display: flex;
    padding-top: 0px;;
    padding-bottom: 16px;
   background-color: $white;
    width: 100%;
    align-items: center;
}


.accordin-text{
   width: 644px;
    display: flex;
   
    padding-left: 24px;
    color: $black;
    @include custom-font($rob,18px, 400, 24px);
}

.accordin-Heading{
    @include custom-font($rob,24px, 600, 32px);
color: $black;

}

.accordin_button{
    background-color: white;
    border: none;
    font-size: 28px;
    font-weight: 500;

}

a{
 text-align: justify;
 width: auto;
}

.padding-32{
    display: flex;
    margin-bottom: 32px;
}
.orange-Color{
    color: $primaryOrange;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    //background-color: yellow;
}

.imagePadding{
  display: flex;
  width: calc(644px + 24px + 24px);
  flex-direction: column;
align-items: flex-end;
  //background-color:blue;

}

.arrow-Instruction{
    width: 436px; //417
    height: 131px;
    display: flex;
   // background-color: red;
 justify-self: flex-end;
}

.acrodinColum{
    display: flex;
    flex-direction: column;
  //  background-color: pink;
   padding-bottom: 16px;
   align-items: flex-end;
}

.img-fit{
    object-fit: contain;
   // background-color: blue;
    width: 436px; //417
    height: 131px;
}
//this is tablet 
@media screen and (min-width: $mobile-phone) and (max-width: $laptop) {
  .full-widthContainer{
    display: flex;
    width: 100%;
    margin-right: 0px;
  }
  
    .section{
    height: calc(572px + 496px + 32px);
    //background-color: aqua;
   }
   
    .hero-contentHeight{
        height: calc(602px + 32px +32px);
        width: 708px;
       // background-color: yellow
    }  

    .hero-Heading{
        margin-top: 48px;
        @include M80-heading;
        width: 708px;
        }

        .padding-40{
            display: flex;
           // background-color: orange;
        }
        .description{
            display: flex;
          //  background-color: red;
        }

        .image-Container{ 
            display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 32px;
        height: 545px;
        align-items: end;
        }

//responsiveness of the sections to be mna
        .section-Column{
          // background-color: orange;
            height:536px + 64px;
        }

        .hero-contentHeight{
            height: 584px;
           // background-color: pink;
        }


        .mobile-Column{
         // background-color: purple;
            height:640px ;
        }
        .homeImage{
            width: 643px; 
            height: 496px;
            display: flex;
            overflow: hidden;
         }
         
         .homeImage img {
             width: 100%;
             height: 100%;
             object-fit: cover; /* Ensures the whole image fits within the container without distortion */
         }
         
.column-layout{
    flex-direction: column;
    align-items: center;
    justify-content: start;
   // background-color: white;
}

.long-Column{
    //increase the height for other breakpoints

    height:2318px ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   // background-color: orange;
    }

    .subheading{
    
        margin-top: 24px;
        //background-color: pink;
       
    }

    .card-Image {
      
        margin-top: 16px;
        margin-bottom: 32px;
 
     }
 
     .third-column{
        width: 420px;
        //background-color: red;
     }

     .custom-Section-Height{
       // background-color: red;
        height: calc(804px + 804px);
     }

     .custom-section{
        height: 804px;
      //  background-color: yellow;
     }

     .column-Main-Image{
        display: flex;
        margin-top: 32px;
    }

    .imagePadding{
        flex-direction: column;
        align-items: flex-end;
      //  background-color: orange;
    }

}

//this is mobile 
@media screen and (max-width: $mobile-phone) {

    .section{
       //background-color: aqua;
        height: 940px;
        justify-content: center;
        align-items: flex-start;
    }
    .hero-contentHeight{
        height: calc(602px + 32px);
        //background-color: yellow
    }

    .hero-Heading{
        margin-top: 32px;
        @include M46-bold;
        }

.R32-semi_bold{
@include R24-semi_bold;
        }

        br{
            display: none;
        }

        .img{
            width: 365.51px;
            height: 282px;
            display: flex;
        }
        
        .img{
            height: 340px;
        }

     
        
        .section-Column{
        //    background-color: red;
        width: calc(100% - 32px);
            height:calc(664px);
            
          }

          .hero-contentHeight{
            height: calc(664px - 64px);
          //  background-color: orange
          }
         

          .R32-semi_bold{
            @include custom-font($rob,24px, 600, 32px);
            //color:blue;
          }

          .homeImage{
            width:100%;
            height: 262px;
          }

          .small-section{
            display: flex;
            height: 270px;
            width:100%;
           justify-content: flex-end;
           //background-color: red;
          }

          .mobile-Column{
          //  background-color: purple;
            height:220px ;
            display: flex;
            align-items: flex-end;
          //  background-color: aqua;
        }


        .long-Column{
            //increase the height for other breakpoints
            height: 2200px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            }

            .column-layout{
                flex-direction: column;
                align-items: center;
                justify-content: start;
               // background-color: white;
            }

.card-heading{
    @include custom-font($mons,20px, bold, 24px);
}

.third-column{
    display: flex;
 //background-color: orange;
    width: 320px;
    height: 622px;
}


            .card-description{
                @include custom-font($rob,16px, 500, 24px);
              
            
            }

            .card-Image{
                height: 480px;
                width: 256px;
                margin-top: 16px;
                margin-bottom: 16px;
            }


.column-Main-Image{
    height: 388px;
    display: flex;
  //  background-color: orange;
    width: 284px;
}

.main-description{
    display: flex;
    @include custom-font($rob,18px, 400px, 24px);
    margin-bottom: 16px;
}

.M40-bold{
    @include custom-font($rob,32px, 600, 40px);
}


.padding-24{
    margin-bottom: 16px;
}



.section-Column-Adjustment{
    height: 460px;
}


.imagePadding{
    flex-direction: column;
    align-items: flex-end;
   // background-color: orange;
}
.arrow-Instruction{
    width: 368px;
    height: 153px;
    display: flex;
    //background-color: red;
 justify-self: flex-end;
}


.accordin-text{
     @include custom-font($rob,16px, 400, 20px);
 }

 .divider{
    width: 368px;
}

.imagePadding{

    width: 368px;
    align-items: flex-end;
  }


.accordin-text{
    width: calc(368px - 16px);
    padding-left: 8px;
    padding-right: 8px;
    
 }

 .accordin-Heading{
  //  background-color: pink;
    display: flex;
    width: 368px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
 
 }
 .accordin-Heading-text{
   width: 248px;
   //background-color: orange;

   padding-left: 16px;
 }
.accordin{
    width: 368px;
}
 .orange-Color{
    width: 368px;
    text-align: center;
 }


 .img-fit{
  
    width: 320px; //417
    height: 96px;
}

.accrodin-des{
   
    padding-bottom: 24px;
  
}
    }

