@use '../../styles/general/index.scss' as * ;

.full-widthContainer{
    display: flex;
    flex-direction: column
}

.hero-Heading{
@include M80-heading;
color: $primaryBlue;
display: flex;
margin-top: 98px;
margin-bottom: 0px;
}

.padding-40{
    display: flex;
    //margin-top: 0px;
}

.hero-contentHeight{
    display: flex;
    height: 672px;
    flex-direction: column;
   // justify-content: space-between;
}

.button-Container{
    display: flex;
    height: 88px;
    width: 168px;
    flex-direction: column;
    margin-bottom: 32px;
}

.image-Container{ 
    display: flex;
width: 100%;
justify-content: center;
margin-top: 32px;
height: 672px;
align-items: end;
}

.img{
    width: 643px;
    height: 496px;
    display: flex;
}

.mobile-Column{
 //   background-color: purple;
   display: flex;
    justify-content: center;
    height: 496px;
}

.column-Alignment{
    display: flex;
    justify-content: end;
}

.homeImage{
   width: 643px; 
   height: 496px;
   display: flex;
   overflow: hidden;
}

.homeImage img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the whole image fits within the container without distortion */
}

.third-column-section{
    height: 928px;
    width: 100%;
    display: flex;
    background-color: $primaryBlue;
}

.primaryBlue-bkg{
    width: 100%;
    display: flex;
    background-color: $primaryBlue;
  
}

//this is tablet 
@media screen and (min-width: $mobile-phone) and (max-width: $laptop) {
   .section{
    height: calc(572px + 496px + 32px);
    //background-color: aqua;
   }
   
    .hero-contentHeight{
        height: calc(602px + 32px +32px);
       // background-color: yellow
    }  

    .hero-Heading{
        margin-top: 48px;
        @include M80-heading;
        }

        .image-Container{ 
            display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 32px;
        height: 545px;
        align-items: end;
        }

//responsiveness of the sections to be mna
        .section-Column{
          // background-color: orange;
            height:536px + 64px;
        }

        .hero-contentHeight{
            height: 584px;
           // background-color: pink;
        }


        .mobile-Column{
         // background-color: purple;
            height:640px ;
        }
        .homeImage{
            width: 643px; 
            height: 496px;
            display: flex;
            overflow: hidden;
         }
         
         .homeImage img {
             width: 100%;
             height: 100%;
             object-fit: contain; /* Ensures the whole image fits within the container without distortion */
         }
         
}

//this is mobile 
@media screen and (max-width: $mobile-phone) {

    .section{
      //  background-color: aqua;
        height: calc(664px - 64px + 220px);
    }
    .hero-contentHeight{
        height: calc(602px + 32px);
        //background-color: yellow
    }

    .hero-Heading{
        margin-top: 64px;
        @include M46-bold;
        }

.R32-semi_bold{
@include R24-semi_bold;
        }

        br{
            display: none;
        }

        .img{
            width: 365.51px;
            height: 282px;
            display: flex;
        }
        
        .img{
            height: 340px;
        }

     
        
        .section-Column{
        //    background-color: red;
            height:calc(664px - 64px);
          }

          .hero-contentHeight{
            height: calc(664px - 64px);
          //  background-color: orange
          }
         

          .R32-semi_bold{
            @include custom-font($rob,24px, 600, 32px);
            //color:blue;
          }

          .homeImage{
            width:254.60px;
            height: 196px;
          }

          .small-section{
            display: flex;
            height: 220px;
           justify-content: flex-start;
          }

          .mobile-Column{
          //  background-color: purple;
            height:220px ;
            display: flex;
            align-items: flex-end;
        }

    }

