
<title>Save, cut debt, invest.</title>
<meta name="description" content="Learn about personal finance, the snowball debt effect, and how to invest wisely. Find expert advice and resources to manage your finances effectively.">

 <!-- the hero section -->
<div class="full-widthContainer primaryNeutral-bkg">



    <section class="section-Wrapper">

        <div class="default-section-Container">
        
         
          
            <div class="section">
         <span class="divided-Section">
         
             <span class="section-Column">

                <span class="hero-contentHeight">
      
                    <p class="hero-Heading"> Save, cut debt,

                        <br>
    
                        invest.
                     </p>
    
    
                     <p class="R32-semi_bold padding-40">
                        Experience the brighter side of capitalism 
                        <br>
                        where you decide the terms. 
                     </p>
    
                     <p class="description">
                        We aim to rewrite the narrative, freeing you from the grip of debt and 
                        <br>
                        financial anxiety. Our goal is to elevate you to the financial level you 
                        <br>
                        aspire to achieve.
                     </p>

                     <span class="button-Container">
<p class="R18-semi_bold primaryBlue">
    Available now on: 
</p>
<a href="https://play.google.com/store/apps/details?id=com.astute.prod_mode">
    <img src="../../../assets/homePage/playButton.png" alt="download Astute on GooglePlay">

</a>

                     </span>
                </span>
          



             </span>
         
              <!-- the mobile image -->

             
             <span class="section-Column column-Alignment small-section">
            <span class="mobile-Column">
                
                     <!-- the mobile image -->

                     <img src="../../../assets/homePage/screenOne.png" 
                     
                     alt="astute mobile application" class="homeImage">
            </span>
             
             </span>
         </span>
         
         
            </div>
         </div>
         
    </section>

 




</div>
  

  
  <!-- how we do it section -->

  <div class="full-widthContainer primaryBlue-bkg long-Column">
    <section class="section-Wrapper ">
    
        <div class="default-section-Container">
            <div class="section">
           <span class="subheading">
            What we do different?
           </span>
           <span class="column-layout">
             <!-- the mobile image -->
            <span class="third-column">
               <span class="card-heading">
    
                1. Identify your financial priority.
               </span>
    
               <span class="card-description">
                Overwhelmed with managing your personal finances? We'll help you determine whether you need to focus on your savings, debt, or investing.
               </span>
               <span class="card-Image">
                <img src="../../../assets/homePage/01.png" alt="identify your financial priority" >
    
               </span>
    
               </span>
     <!-- the mobile image -->
               <span class="third-column">
                <span class="card-heading">
    
                    2. Generate a customized plan.
                   </span>
    
                   <span class="card-description">
                    Unsure how much to save, pay off toward your debt, or invest? We'll calculate the amounts you need to achieve your goals.
                   </span>
                   <span class="card-Image">
                    <img src="../../../assets/homePage/02.png" alt="identify your financial priority">
        
                   </span>
    
               </span>
                <!-- the mobile image -->
               <span class="third-column">
                <span class="card-heading">
    
                   3. Adapt to your financial needs.
                   </span>
                   <span class="card-description">
                    We regularly adjust your financial plans to complement your changing financial needs and keep you informed of your progress.
                   </span>
    
                   <span class="card-description">
    
                   </span>
                   <span class="card-Image">
                    <img src="../../../assets/homePage/04.png" alt="identify your financial priority" >
        
                   </span>
    
               </span>
           </span>
    
        
            </div>
        </div>
    </section>
    
    
       </div>

 
 <!-- the mission section -->
 <div class="full-widthContainer primaryWhite-bkg">



    <section class="section-Wrapper">

        <div class="default-section-Container">
        
         
          
            <div class="section custom-Section-Height ">
         <span class="divided-Section">
         
             <span class="section-Column centre-Alignment custom-section section-Column-Adjustment">

               <span class="main-Alignment">
                <span class="column-Main-Image">
                   <img src="../../../assets/homePage/mobile_number.png" alt="">
                </span>
               </span>
          



             </span>
         
              <!-- the description -->

             
             <span class="section-Column  centre-Alignment custom-section section-Column-Adjustment">
      <span class="main-Alignment">
        <span class="main-Column-Text">
            <span class="heading M40-bold padding-24">
                Rebalancing capitalism
            </span>

            <span class="main-description">
                Nepotism, inequality gaps, the numbing reality of the 9 to 5 grind—sometimes it feels like the promises of capitalism are nothing but a scam, doesn't it?
            </span>
            <span class="main-description">
                That's where we step in. At Astute, we address the root cause of the wealth gap: the imbalance in financial astuteness.
            </span>

            <span class="main-description">
                We've developed tools that simplify navigating the capitalist landscape, enabling you to secure substantial returns and claim your fair share of the pie.
            </span>
        </span>
      </span>
             
             </span>
         </span>
         
         
            </div>
         </div>
         
    </section>

 




</div>
  
 <!-- the mission section -->
<div class="full-widthContainer primaryNeutral-bkg">
<div class="section last-section">
   <span class="M32-bold padding-32 orange-Color">
    Have a question about astute?
   </span>
 <!-- a1 -->
    <span class="accordin">
        <span class="accordin-Heading">
            <span class="accordin-Heading-text">Is astute free?</span>
          <button
          *ngIf = !question_one
          class="accordin_button"
          (click)="showQuestionOne()">+</button>

          <button
          *ngIf = question_one
          class="accordin_button"
          (click)="showQuestionOne()">-</button>
        </span>

        <span 
        *ngIf = question_one
        class="accrodin-des">
        <span class="accordin-text">   Astute is priced at a once off $2.99 for the first 10,000 users. After this, our further users will be charged a monthly subscription of $2.99.</span>
     </span>
    </span>
<span class="divider"></span>

 <!-- a2 -->
    <span class="accordin">
        <span class="accordin-Heading">
            <span class="accordin-Heading-text">Will astute be available on ios?</span>
            <button
            *ngIf = !question_two
            class="accordin_button"
            (click)="showQuestionTwo()">+</button>
  
            <button
            *ngIf = question_two
            class="accordin_button"
            (click)="showQuestionTwo()">-</button>
        </span>

        <span 
        *ngIf = question_two
        class="accrodin-des"> 
        <span class="accordin-text">
            The iOS version will become accessible starting June 1st, maintaining the same subscription framework.
        </span>
      </span>
    </span>
    <span class="divider"></span>
     <!-- a3 -->
     <span class="accordin">
        <span class="accordin-Heading">
            <span class="accordin-Heading-text">How is my data used?</span>
            <button
            *ngIf = !question_three
            class="accordin_button"
            (click)="showQuestionThree()">+</button>
  
            <button
            *ngIf = question_three
            class="accordin_button"
            (click)="showQuestionThree()">-</button>
        </span>

        <span 
        *ngIf = question_three
        class="accrodin-des"> 
        <span class="accordin-text">
            Kindly be informed that your data remains confidential and is not shared with third parties. It is solely utilized to tailor your experience according to your preferences and requirements.        </span>
      </span>
    </span>
    <span class="divider"></span>

       <!-- a4 --> <!-- wrapping for the image --> 
<span class="imagePadding">
    <span class="accordin">
        <span class="accordin-Heading">
            <span class="accordin-Heading-text">How can I be involved?</span>
            <button
            *ngIf = !question_four
            class="accordin_button"
            (click)="showQuestionFour()">+</button>
  
            <button
            *ngIf = question_four
            class="accordin_button"
            (click)="showQuestionFour()">-</button>
        </span>
        <span  *ngIf = !question_four class="divider"></span>

        <span 
        *ngIf = question_four
        class="accrodin-des"> 
        <span class="acrodinColum">
            <span class="accordin-text">
                We value your feedback and encourage you to get in touch with us at contact@kukuracapital.com; we will respond to you within 24 hours.            </span>  
        </span>
      
        
      </span>
    </span>
   


    <span class="arrow-Container">
        <span class="arrow-Instruction">
            <img 
            class="img-fit"
            src="../../../assets/homePage/arrow_instruction.svg" alt="">
        </span>
    </span>
  
</span>

</div>
</div>
