<div class="full-widthContainer">

    <span class="section-Wrapper">

        <div class="default-section-Container">
            <!-- the hero section -->
         
          
            <div class="section">
         <span class="divided-Section">
         
             <span class="section-Column">

                <span class="hero-contentHeight">
      
                    <p class="hero-Heading"> Save, cut debt,

                        <br>
    
                        invest.
                     </p>
    
    
                     <p class="R32-semi_bold padding-40">
                        Experience the brighter side of capitalism 
                        <br>
                        where you decide the terms. 
                     </p>
    
                     <p class="description">
                        We aim to rewrite the narrative, freeing you from the grip of debt and 
                        <br>
                        financial anxiety. Our goal is to elevate you to the financial level you 
                        <br>
                        aspire to achieve.
                     </p>

                     <span class="button-Container">
<p class="R18-semi_bold primaryBlue">
    Available now on: 
</p>
<a href="https://play.google.com/store/apps/details?id=com.astute.prod_mode">
    <img src="../../../assets/homePage/playButton.png" alt="download Astute on GooglePlay">

</a>

                     </span>
                </span>
          



             </span>
         
              <!-- the mobile image -->

             
             <span class="section-Column column-Alignment small-section">
            <span class="mobile-Column">
                
                     <!-- the mobile image -->

                     <img src="../../../assets/homePage/screenOne.png" 
                     
                     alt="astute mobile application" class="homeImage">
            </span>
             
             </span>
         </span>
         
         
            </div>
         </div>
         
    </span>

  

</div>


