$primaryBlue: #3E63D3;
$primaryOrange: #FE7308;
$primaryGreen: #00330F;
$neonGreen: #CFF850;
$neutral: #FDFAF5;
$white: #FFFFFF;
$black: #000000;

.neonGreen{
    color: $neonGreen;
}

.black{
    color: $black;
}

.white{
    color: $white;
}

.primaryBlue{
    color:$primaryBlue;
}

.primaryOrange{
    color: $primaryOrange
}

.neutral{
    color: $neutral;
}
